{% extends 'base.html' %}

{% block contenido %}
<h1>Historial de compras</h1>

<h2>Historial:</h2>
<ul>
    {% for detalle in historial %}
    
        <li>Número de compra: {{ detalle.id }} - Producto_id: {{ detalle.id_productos_id }} - Nombre producto: {{ detalle.id_productos.nombre }} - Cantidad: {{ detalle.cantidad }} - Total: ${{ detalle.total_detalle }}</li>
    {% empty %}
        <li>No hay compras en el historial</li>
    {% endfor %}
</ul>

<h2>Estado de los pedidos:</h2>
<ul>
    {% for pedido in estado_pedido %}
        <li>Estado: {{ pedido.estado }} - Fecha actualización: {{ pedido.fecha }}</li>
    {% empty %}
        <li>No hay pedidos registrados</li>
    {% endfor %}
</ul>
{% endblock %}
